3rd[Pp]arty/
[Bb]ackup/
[Tt]emp/
[Tt]mp/

[.$~]*
!.git*
[Dd]esktop.ini
[Tt]umbs.db

*.*_
*.[_$~]*
*.[7bglx]z
*.[ab]r
*.asc
*.[bp]ak
*.bin
*.bz2
*.ca[bt]
*.*[Cc]ache
*.cachefile
*.ch[kmw]
*.cpio
*.*deb
*.[dejrstwx]ar
*.diff
*.dll
*.docstates
*.ds[pw]
*.dylib
*.exe
*.filters
*.[ip]db
*.ipdb
*.lastbuildstate
*.launch
*.l[cn]k
*.liz
*.local
*.lock
*.*log
*.*lz
*.lz[2-5hx]
*.map
*.ms[impu]
*.[mv]six
*.n[ci]b
*.new
*.old
*.orig
*.opendb
*.opensdf
*.o[pu]t
*.*pack
*.patch
*.pi[df]
*.pidb
*.*pkg
*.postbuild
*.*proj
*.projdata
*.*project
*.properties
*.psess
*.py[cdox]
*.rpm
*.[rv]sp
*.s[7q]z
*.sln
*.so
*.suo
*.sw[op]
*.t[abgpx]z
*.targets
*.tbz?
*.*tmp
*.*user
*.userprefs
*.[Vv][Cc].db
*.vc[npw]
*.vlb
*.vs[ps]scc
*.vspx
*.whl
*.*zip
*.*zip?
*.*zst
*.*zstd